{% extends "chart_base.html" %}

{% block chart_title %}Stocks chart (Lightweight Charts){% endblock %}

{% block chart_element %}
      <div id="stockChart"></div>
{% endblock %}

{% block chart_libraries %}
<!-- Lightweight Charts library (v3.7.0 - stable API) development build for debugging -->
<script src="https://cdn.jsdelivr.net/npm/lightweight-charts@3.7.0/dist/lightweight-charts.standalone.development.js"></script>
{% endblock %}

{% block chart_config_extra %}
    // Debug: Check library loaded
    window.addEventListener('load', function() {
        console.log('Window loaded, LightweightCharts:', typeof LightweightCharts);
        if (typeof LightweightCharts !== 'undefined') {
            console.log('createChart:', typeof LightweightCharts.createChart);
            console.log('All exports:', Object.keys(LightweightCharts));
        }
    });
{% endblock %}

{% block chart_script %}
<script src="{{ url_for('static', filename='js/lightweightchart.js') }}"></script>
{% endblock %}
